@font-face {
    font-family: RobotoSlab;
    src: url(./assets/font/RobotoSlab/RobotoSlab-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: RobotoSlab;
    src: url(./assets/font/RobotoSlab/RobotoSlab-Medium.ttf);
    font-weight: 500;
}

html {
    scroll-behavior: smooth; 
}

body {
    font-family: RobotoSlab;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.wrapper{
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
}

h2 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.link {
    text-decoration: none;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

/* Header style */

.header {
    background-color: rgb(219, 143, 72);
}

.nav_list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}
.nav_link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
    text-transform: uppercase;
}

.nav_item a {
    color: aliceblue;
    text-decoration: none;
    transition: 0.5s;
}

.nav_item a:hover {
    color: rgb(83, 83, 255);
}

/* Header style end*/

/* Body style */

.main-container {
    display: flex;
    flex-wrap: wrap;
}




.section {
    width: 50%;
    display: flex;
    margin: 50px 0;
}



.profileTitle {
    width: 100%;
    margin-top: 30px;
}

.profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.avatar {
    width: 200px;
    border-radius: 600px;
}

.profile-text {
    text-align: center;
}

/* Body style end */
/* footer style */
.footer {
    background-color: rgb(219, 143, 72);
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.rslogo {
    width: 100px;
}
/* footer style end*/

/* media start */

@media screen and (max-width: 1200px) {
    code {
   font-size: 1.5vh;
   transition: .2s;
    }


}

@media (max-width: 768px) {
    .section {
        width: 50%;
    }
}

@media (max-width: 600px) {
    .section {
        width: 100%;
    }

    code {
        font-size: 1.4vh;
        transition: .2s;
     }

     #code {
        margin-bottom: -118px;
     }



@media (max-width: 425px) {
    code {
        font-size: 1.4vh;
        transition: .2s;
     }
}

}